@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.todo{
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.background-img{
    z-index: -1;
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
}

.todo-container{
   
    display: flex;
    justify-content: center;
}

.input-container{
    width: 500px;
    height: 50px;
    padding: 50px 20px;
    background-color: rgba(11, 11, 27, 0.6);
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    
}

.text-input{
    padding: 15px 10px;
    width: 400px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgba(255, 253, 253, 0.7);
    color: rgb(61, 59, 59);
    font-size: 23px;
    font-weight: 600;
}

.input-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    transition: 0.4s ease;
}

.input-btn:hover{

    background-color: rgba(26, 25, 25, 0.7);
    color: white;
}

.input-btn:hover{
    cursor: pointer;
    box-shadow: 1px 1px 7px black;
}

.item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px;
}

.todoitem{
    margin-top: 10px;
    min-width: 520px;
    padding:5px 10px;
    background-color: rgba(202, 240, 248, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.todoitem:hover{
    background-color: rgba(202, 240, 248, 0.3);
}

.todoitem p{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 0 5px;
    word-wrap: break-word;
}

.todoitem button{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease;
    box-shadow: 2px 2px 5px black;
}

.todoitem button:hover{
    box-shadow: 3px 3px 7px black;
    cursor: pointer;
}