.App {
  text-align: center;
}

.App{
  background-color: #1b998b ;
  min-height: 100vh;
}

.post-img{
  height: 500px;
  width: 600px
}

.text-input{
  width: 600px;
  padding: 15px 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;

}

.posts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: center;
}